# generated
generated/
*.generated.*

# cache
.cache/

# logs
logs
*.log

# build
dist/
.output/

# pack
pack/

# dependencies
node_modules/
.pnpm-store/

# nx
.nx/

# nuxt
.nuxt/
.nitro/

# vitest
.vitest-attachments/

# ide
*.code-workspace
.cursor/
